name: main CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    # install deps
    - uses: actions/checkout@v2
    - name: install debian-packaged dependencies
      run: sudo apt install -y automake libpcap-dev diffutils tcpdump tshark

    # build & test
    #- name: check C++ formatting -- TODO
    #  run: make format_check
    - name: build large-pcap-analyzer
      run: make
    - name: run unit tests
      run: make tests

